@font-face { font-family: FuturaMedium; src: url('../fonts/Futura-Medium.otf'); } 
body{
  font-family: FuturaMedium;
}
#flex-container{
  display: flex;
  flex-direction: column;  
  align-items: center;
  background-color: #E1D8CE;
  margin-left:15%;
  margin-right:15%;
  padding-top:3vh;
}

/* VERTICAL TEXT */

.vertical {
  writing-mode: tb-rl;
  transform: rotate(-180deg);
  color: #71777A;
  font-size: 3.5vw;
  font-weight: bold;
  position: relative;
  left:3.6vw;
}

/* GRID */

.work {
  justify-content: center;
  display: grid;
  width:100%;
  grid-template-columns: 10% 30% 50% 10%;
  grid-template-areas:
  "col-1 col-2 col-3 col-4";  
  text-align: center;  
  height:75vh;  
}

.col-1{
  grid-area: col-1;
}
.col-2{
  grid-area: col-2;
  background-color: #F5F5F5;
  display: grid;
  color:#71777A;
}

.col-2 h3{
  width: 100%;
  margin: 0;
  border: 1px solid #71777A;
}

.col-3{
  grid-area: col-3;
  display: grid;
}

.col-3 img{
  width: 100%;
  margin: 0;
  object-fit: cover;
  border: 1px solid #71777A;
}

.col-4{
  grid-area: col-4;
}

/* NAV BAR */

nav{
  position:relative;
  top:3vh;
  display: flex;
  flex-direction: row;  
  justify-content: center;
}

.nav-item{
  text-decoration: none;
  text-align: center;
  padding-top: 2vh;
  padding-bottom: 2vh;
  background-color:#71777A;
}

#anchor-container:hover{
  background-color:#F5F5F5;
  color:#71777A;  
}

#anchor-container{ /* ADDED FOR 'GROW' effect when hovering over item */
  padding:3vh 1vw 3vh 1vw;
  color:#F5F5F5;
}

@media screen and (min-width:300px) and (max-width:1000px)  {
  #flex-container{
    margin-left:0;
    margin-right:0;
  }
  .vertical {
    font-size: 6vw;
    left:4vw;
  }
  a{
    width: 200px;
  }
  .nav-item:hover{
    background-color:#F5F5F5;
    color:#71777A;  
  }
  #anchor-container{ 
    padding:0vh 0vw 0vh 0vw;
  }
}