@font-face { font-family: FuturaMedium; src: url('../fonts/Futura-Medium.otf'); } 
body{
  font-family: FuturaMedium;
}
#flex-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left:15%;
  margin-right:15%;
  padding-top:3vh;
}

#title-container{
  display: flex;
  justify-content: center;
  margin-top: 45vh;
}

#title-item{
  text-align: center;  
  border: 1px solid #F5F5F5;
  color: #F5F5F5;
  text-transform: uppercase;
  width: 24%;
  padding: 30px;
}

h3{
  font-size:1.5vw ;
}
h5{
  font-size:0.7vw ;
}

#header{
  background-image: url('../media/better.jpg');
  background-repeat: no-repeat ;
  background-position: center center;
  background-size: contain;  
  height:81vh;
  width:60vw;
}

nav{
  position:relative;
  top:-3vh;
  display: flex;
  flex-direction: row;  
  justify-content: center;
}

.nav-item{
  text-decoration: none;
  text-align: center;
  padding-top: 2vh;
  padding-bottom: 2vh;
  background-color:#71777A;
}

#anchor-container:hover{
  background-color:#F5F5F5;
  color:#71777A;  
}

#anchor-container{ /* ADDED FOR 'GROW' effect when hovering over item */
  padding:3vh 1vw 3vh 1vw;
  color:#F5F5F5;
}

@media screen and (min-width:300px) and (max-width:1000px)  {
  #flex-container{
    margin-left:0;
    margin-right:0;
  }
  .vertical {
    font-size: 6vw;
    left:4vw;
  }
  a{
    width: 200px;
  }
  .nav-item:hover{
    background-color:#F5F5F5;
    color:#71777A;  
  }
  #anchor-container{ 
    padding:0vh 0vw 0vh 0vw;
  }
}