@font-face { font-family: FuturaMedium; src: url('Futura-Medium.otf'); } 
body{
  font-family: FuturaMedium;
}
#flex-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #E1D8CE;
  margin-left:15%;
  margin-right:15%;
}

#main{
  display: flex;
  justify-content: center;
  margin-left: 80px;
  margin-right: 80px;
  text-align: center;  
  padding:2vh 10vw 2vh 10vw; 
  align-content: center;
  width:60vw;
  height:75vh;
}

.bio {
  padding:30px;
  width:28vw;
  background-color: #F5F5F5;
  border-style: solid;
  border-color: #71777A;
  border-width: 1px;
}

img{
  width:200px;
}


#header{
  background-color: #E1D8CE;

}

#anchor-container{ /* ADDED FOR 'GROW' effect when hovering over item */
  padding:3vh 1vw 3vh 1vw;
  color:#F5F5F5;
}

nav{
  position:relative;
  top:3vh;
  display: flex;
  flex-direction: row;  
  justify-content: center;
}

.nav-item{
  align-items: flex-start;
  text-decoration: none;
  text-align: center;
  padding-top: 2vh;
  padding-bottom: 2vh;
  background-color:#71777A;
}

#anchor-container:hover{
  background-color:#F5F5F5;
  color:#71777A;  
}

