@font-face { font-family: FuturaMedium; src: url('Futura-Medium.otf'); } 

body{
  font-family: FuturaMedium;
  margin:30px 30px 30px 30px;
}


.header{
  background-image: url('better.jpg');
  background-color: #E1D8CE;
  background-repeat: no-repeat ;
  background-position: center center;
  background-size: 70vh;
  height:70vh;
}


header {
  border-color: #F5F5F5;
  border-width: 1px;
  border-style:solid;
  position: relative;
  display:inline-block;
  left:41%;
  top:55%;
  text-align: center;
  padding: 30px;
}

h3{
  font-size: 30px;
}

h3, h5{
  color:#F5F5F5;
  text-transform: uppercase;
}


b{
  text-transform: uppercase;
}

nav{
  background-color:#71777A;
  position:absolute;
  top:70vh;
  left:44%;
  padding-top: 20px;
  padding-bottom: 20px;
}

.navbar{
  text-decoration: none;
  text-align: center;
  padding:20px 20px 20px 20px;
  color:#F5F5F5;
}

.navbar:hover{
  background-color:#F5F5F5;
  color:#71777A;
}

#main{
  display: flex;
  justify-content: space-between;
  padding: 20px;
  background-color: #E1D8CE;
}

article {
  border-color: red;
  border-style:solid;
}

.profileimage{
  border-color: red;
  border-style:solid;
  width:300px;
}


.here:after {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  bottom: 0;
  left: 50%;
  border-left: 3px dotted #ff0000;
  transform: translate(-50%);
}

#text {
  margin: 10px auto;
  width: 60%;
  height: 100px;
  border: 1px solid #333;
  position: relative;
  text-align: center
}

.outer {
  position: relative;
  left:37.5%;
  width:25%;
  display: flex;
  min-height: 100%;
  flex-direction: column; /* added */
}

.row {
  border: 1px solid #71777A;
  display: flex;
  flex: 1; /* added */
}

.item {
  background-color: #E1D8CE;
  flex: 1; /* added */
  text-align: center;
  color:#71777A;
  text-decoration: none;
}

.res:hover{
  background-color: #71777A;
  color:#F5F5F5;
}
.link {
  background-color: #71777A;
  color:#71777A;
}
.res:hover + .link{
  background-color: #F5F5F5;
}
