@font-face { font-family: FuturaMedium; src: url('Futura-Medium.otf'); } 

body{
  font-family: FuturaMedium;
  margin:30px 30px 30px 30px;
}


.header{
  background-image: url('better.jpg');
  background-color: #E1D8CE;
  background-repeat: no-repeat ;
  background-position: center center;
  background-size: 85vh;
  height:85vh;
}


header {
  border-color: #F5F5F5;
  border-width: 1px;
  border-style:solid;
  position: relative;
  display:inline-block;
  left:41%;
  top:60%;
  text-align: center;
  padding: 30px;
}

h3{
  font-size: 30px;
}

h3, h5{
  color:#F5F5F5;
  text-transform: uppercase;
}


b{
  text-transform: uppercase;
}

nav{
  background-color:#71777A;
  position:absolute;
  top:85vh;
  left:44%;
  padding-top: 20px;
  padding-bottom: 20px;
}

.navbar{
  text-decoration: none;
  text-align: center;
  padding:20px 20px 20px 20px;
  color:#F5F5F5;
}

.navbar:hover{
  background-color:#F5F5F5;
  color:#71777A;
}

#main{
  display: flex;
  justify-content: center;
  padding: 20px;
  background-color: #E1D8CE;
  margin-left: 80px;
  margin-right: 80px;
  text-align: center;  
}

article {
  background-color: #F5F5F5;
  width:25.5%;
  border-style: solid;
  border-color: #71777A;
  border-width: 1px;
  padding: 40px 40px 40px 40px;
}

.profileimage{
  width:30%;
  background-color: #f5f5f5;
  border-style: solid;
  border-color: #71777A;
  border-width: 1px;
}

img{
  margin-top: 20px;
  width: 300px;
}

/* CONTACT PAGE */

#contact {
  position: relative;
  left:37.5%;
  width:25%;
  display: flex;
  min-height: 100%;
  flex-direction: column; 
}

.row {
  border: 1px solid #71777A;
  display: flex;
  flex: 1; 
}

.item {
  background-color: #E1D8CE;
  flex: 1; 
  text-align: center;
  color:#71777A;
  text-decoration: none;
}

.res:hover{
  background-color: #71777A;
  color:#F5F5F5;
}
.link {
  background-color: #71777A;
  color:#71777A;
}
.res:hover + .link{
  background-color: #F5F5F5;
}
